body {
    background-color: #ffffff;
}

header {
    font-family: "Lucida Console", Courier, monospace;
    margin: o;
    width: 100%;
    padding: 10px;
    background-color:lightgreen;
    color: rgb(0, 0, 0);
    border-bottom: 30px solid white ;
    transition: background-color 0.8s ease-in-out;
}

header:hover{
    background-color: gainsboro;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#presentacion {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    float: left;
    width: calc(80% - 65px);
    margin-bottom: 20px;
    min-height: 1000px;
    display: flex;
    background-color:darkgreen;
    padding: 20px;
    text-align: justify;
    border-right: 25px solid white;
    border-radius: 60px;
    transition: background-color 0.8s ease-in-out;
}

#presentacion:hover{
    background-color: green;
}

aside{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
    width: calc(20% - 40px);
    min-height: 1000px;
    background: darkolivegreen;
    padding: 20px;
    list-style: none;
    line-height: 30px;
    text-align: justify;
    border-radius: 20px;
    transition: background-color 0.8s ease-in-out;
}

aside:hover{
    background-color: olivedrab;
}

footer {
    background-color: darkcyan;
    color: white;
    text-align: center;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

table {
    width: 50%;
    border-collapse: collapse;
    box-shadow: 3px 3px 5px black;
}

table th, table td {
    padding: 5px;
    border: 1px solid gainsboro;
}

.modal {
    display: none; 
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 5px black;
}


.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #3ad107;
    width: 80%; 
    max-width: 500px; 
    box-shadow: 3px 3px 5px black;
}


.close {
    color: #da0808;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(107, 3, 3);
    text-decoration: none;
    cursor: pointer;
}

#efectos {
    float: left;
    background-color:firebrick;
    width: 100%;
    min-width: 100px;
    padding: 20px;
    display: flex;
    list-style: none;
    line-height: 30px;
    align-items:center ;
    border-radius: 20px;
    transition: background-color 0.8s ease-in-out;
}
#efectos:hover{
    background-color: orangered;
}

#efecto1{
    float: left;
    width: calc(25% - 40px);
    min-height: 400px;
    background-color: orange;
    padding: 20px;
    display: flex;
    line-height: 30px;
    border-top: 28px solid white;
    transition: background-color 0.8s ease-in-out;
}
#efecto1:hover{
    background-color:rgb(245, 233, 70);
}

#efecto2{
    float: left;
    width: calc(25% - 40px);
    min-height: 400px;
    background-color: yellow;
    padding: 20px;
    display: flex;
    line-height: 30px;
    border-top: 28px solid white;
    transition: background-color 0.8s ease-in-out;
}
#efecto2:hover{
    background-color:rgb(252, 179, 44);
}

#efecto3{
    float: left;
    width: calc(25% - 40px);
    min-height: 400px;
    background-color: coral;
    padding: 20px;
    display: flex;
    line-height: 30px;
    border-top: 28px solid white;
    transition: background-color 0.8s ease-in-out;
}
#efecto3:hover{
    background-color:lightcoral;
}

#efecto4{
    float: left;
    width: calc(25% - 40px);
    min-height: 400px;
    background-color: tomato;
    padding: 20px;
    display: flex;
    line-height: 30px;
    border-top: 28px solid white;
    transition: background-color 0.8s ease-in-out;
}
#efecto4:hover{
    background-color:crimson;
}

#circulo{
    font-family: 'Times New Roman', Times, serif;
    background-color: gray;
    width: 50%;
    height: 50%;
    margin-left: 15%;
    min-width: 1000px;
    line-height: 30px;
    display: flex;
    padding: 20px;
    text-align: auto;
    border-radius: 15px;
    text-align: justify;
    transition: background-color 0.5s ease-in-out;
}
#circulo:hover{
    background-color: firebrick;
}